body{
    overflow-x: hidden;
}

.min{
    display: none;
}

.main_first{
position: relative;
width: 100vw;
height: 50vh;

}

.grid_sec{
    width: 100vw;
    display: flex;
    justify-items: center;
}


.carousel{
    width: 100%;
    transition: 0.5 ease-in-out;
}

.carousel-item{
    position: relative;
    padding: 2rem;
}


.car_buttons{
    height: 100%;
    position:absolute;
    padding: 1rem;
    width: 100%;
}


.car_button_con{
    width: 100%;
    height: 94%;
    padding-right: 5rem;
}


.car_button_con button{
    margin-left: 1rem;
    text-align: center;
    background-color: transparent;
    border:none;
}

.car_button_con button ion-icon{
    font-size: 1rem;
    color:white;
}

.main-header-grid{
    position: relative;
    width: 65%;
    height: 80%;
    display: grid;
    grid-template-columns:  75% 8% 30% 10% 30%;
    grid-template-areas: 
    "  img1  .  img3 . img2"
    "  gsec gsec gsec gsec gesc";
    
}

.main-header-grid .img1{
  grid-area: img1;
  height: 65vh;
  max-height: 100%;
  max-width: 100%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main-header-grid .img2{
    grid-area: img2;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

  .main-header-grid .img3{
    grid-area: img3;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

.gsec{
    grid-area: gsec;
    margin-bottom: 2rem;  
    color: white;
    margin-top: 1rem;
    font-size: 110%;
    z-index: 100;

}

.gsec button {
    border: none;
    outline: none;
    font-size: 70%; 
    z-index: 100;
}


.grid_sec{
    background-color:transparent;
    padding:0 6rem 6rem 6rem;
    width: 100vw;
    color: black;
    position: relative;

}


.grid-butts{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-left: .5rem;
    padding:0 6rem 0rem 6rem;
}


.grid-butts button{
    border: none;
    outline: none;
    padding: .6rem;
    border-radius: 10px;
    width: 25%;
    font-weight: 500;
    transition: .4s ease-in-out;
}

.activedark{
  background-color: var(--dark2);
  color: white;
}


.activelight{
    background-color: var(--light1);
    color: white;
  }

.sec_grid_f{
    position: relative;
    margin-left: .5rem;
    margin-right: .5rem;
    width: 24%;
    height: 100%;
    display: grid;    
    grid-template-columns:  100%;
}

.sec_grid_f .sec_grid_img{
    position: relative;
    overflow: hidden;    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 1rem;    
}

.sec_grid_f .sec_grid_img img{
    width: 100%;
}


.main-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.main-footer .link {
    color: black;
    text-decoration: none;
    border: none;
    outline:none;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    transition: 0.3s ease-in-out;
}

.main-footer .link:hover {
    color: white;
    background-color: var(--light1);
}

.card_hov{
    position:absolute;
    color:white;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,0.05085784313725494) 0%, rgba(0,0,0,0.47942927170868344) 0%);
    width: 100%;
    transform: translateY(-100%);
    justify-content: center;
    align-items: center;
    height:100%;
    transition: 0.5s ease-in-out;
    padding: .5rem;
    opacity: 0;
}

.sec_grid_img:hover .card_hov{
    opacity: 100%;
}

.sec_grid_img:hover .card_hov button{
   display: block;
}

.sec_grid_img:hover .card_hov label{
    display: block;
 }
 

.card_hov label{
    display: none;
}

.card_hov button{

    border: none;
    outline: none;
    display: none;
    border-radius: 5px;
    margin-top: 1rem;
    padding: .4rem;
    width: 40%;
}



.main_bf{
    margin-top: 65vh;
    display: grid;
    position: relative;
    grid-template-columns:50% 45%;
    margin-left: 5rem;
    margin-bottom: 5rem;
}

.main_bf .text{
    padding: 2rem;
    margin-left: 5rem;
    padding-top:5rem ;
    color:black;
}

.main_bf .img_cont_bf{
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    justify-content: center;
}

.img_cont_bf img{
  height: 60%;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.img_cont_bf .abs_img{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position:absolute;
    width: 30%;
    height: 30%;
    z-index: 1;
    transform: translateY(140%) translateX(-90%);
}


.main_bf .text .large_text{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}


.navbar-main{
    margin-bottom: 0rem;
    color: white;
}

.navbar-main .theme-button{
    margin-right: 3rem;
}

.navbar-main-dark{
    background-color: var(--dark1);
}

.navbar-main-light{
    background-color: var(--light1);
}

.carousel-dark{
    background-color: var(--dark1);
}

.carousel-light{
    background-color: var(--light1);
}

.main_all-dark{
    background-color: var(--dark5);
}

.main_all-light{
    background-color: var(--light3);
}


.main_bf .text2-dark{
    color: white;
}

.main_bf .text2-light{
    color: black;
}

.main-footer-light  .link{
    color: black;
}

.main-footer-dark  .link:hover{
    color: white;
    background-color: var(--dark1);
}


.grid-buttns{
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width:690px) {



.min{
    display: block;
}


.grid_sec{
    background-color:transparent;
    padding:0;
    width: 100vw;
    color: black;
    margin-top: 0;
    position: relative;

}

.sec_grid_f{
    position: relative;
    width: 45%;
    height: 100%;
    display: grid;    
    grid-template-columns:  100%;
    margin-right: .1rem;
}

.sec_grid_f .sec_grid_img{
    position: relative;
    overflow: hidden;    
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: .3rem;    
}

.sec_grid_f .sec_grid_img img{
 height: 100%;
}

.sec_grid_img:hover .card_hov{
    opacity:0;
}

.sec_grid_img:hover .card_hov button{
   display:none;
}

.sec_grid_img:hover .card_hov label{
    display:none;
 }

 .grid-butts{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-left: 0;
    margin-bottom: .4rem;
    padding:.5rem .5rem 0 0;
}

 .grid-butts button{
    border: none;
    outline: none;
    border-radius: 10px;
    width: 100%;
    margin-left: .5rem;
    margin-right: .5rem;
    font-weight: 500;
    transition: .4s ease-in-out;
}


.min-header-main{
width: 100vw;
height: 30vh;
}

.min-header-main-f{
    background-image:linear-gradient(90deg, rgba(0,0,0,0.05085784313725494) 0%, rgba(0,0,0,0.4682247899159664) 0%),url('https://cdn.cliqueinc.com/posts/288116/nyc-fall-outfits-288116-1594589145078-fb.700x0c.jpg');
    background-size: cover;
    background-position: center;
    
}



.min-header-main-t{
    background-image:linear-gradient(90deg, rgba(0,0,0,0.05085784313725494) 0%, rgba(0,0,0,0.4682247899159664) 0%),url('https://i0.wp.com/nasilemaktech.com/wp-content/uploads/2021/01/Samsung-Galaxy-S21-Ultra-preview-1.jpg');
    background-size: cover;
    background-position: center;
    
}



.min-header-grid{
    width: 100vw;
    display: grid;
    margin:0 0 0 0;
    padding: 0 0 0 0;
    grid-template-columns: 30vw 25vw 25vw 20vw;
    grid-template-areas:
    'small large large large'
    'small2 large large large';
} 



.min-header-grid2{
    width: 100vw;
    display: grid;
    margin:0 0 0 0;
    padding: 0 0 0 0;
    grid-template-columns: 20vw 20vw 25vw 35vw;
    grid-template-areas:
    'large large large small'
} 


.min-header-grid2 .large{
    height: 30vh;
    grid-area: large;
}


.min-header-grid2 .small{
    height: 30vh;
    grid-area: small;
 
}


.min-header-grid .large{
    grid-area: large;
    background-size: cover;
    background-position:center;
}


.min-header-grid .small{
    background-size: cover;
    background-position:center;
    grid-area:small;
    height: 45vw;
}

.gird1-main-min-f .large{
    background: url('https://thumbs.dreamstime.com/b/fashion-model-fashionable-clothes-beautiful-woman-near-wall-sexy-elegant-stylish-fall-shirt-scarf-trousers-sweater-shoes-bag-79059996.jpg');
    background-size: cover;
    background-position:center;
}

.gird1-main-min-f .small{
    background:url('https://images.unsplash.com/photo-1607606780078-eb06bd04a574?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDEwfHx8ZW58MHx8fHw%3D&w=1000&q=80');
    background-size: cover;
    background-position:center;
}

.gird1-main-min-f .small2{
    background: url('https://i.pinimg.com/736x/54/8d/25/548d25216e6b405515f00c8514d666ad.jpg');
    background-size: cover;
    background-position:center;
}



.min-header-grid .small2{
    grid-area:small2;
    height: 45vw;
}



.gird2-main-min-f .large{
    background: url('https://thumbs.dreamstime.com/b/beauty-model-girl-posing-trendy-fashionable-spring-clothes-wear-apparel-beautiful-young-brunette-woman-outfit-fashion-197285729.jpg');
    background-position: center;
    background-size: cover;
}


.gird2-main-min-f .small{
    background: url('https://st2.depositphotos.com/2944823/5641/i/950/depositphotos_56416293-stock-photo-beautiful-ladylike-woman-in-elegant.jpg');
    background-position: center;
    background-size: cover;
}







.gird1-main-min-t .large{
    background: url('https://thumbs.dreamstime.com/b/gaming-pc-rgb-led-lights-computer-assembled-hardware-components-rgb-colors-gaming-computer-185705787.jpg');
    background-size: cover;
    background-position:center;
}

.gird1-main-min-t .small{
    background:url('https://images.unsplash.com/photo-1586712308574-566bd05e816e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE0fHx8ZW58MHx8fHw%3D&w=1000&q=80');
    background-size: cover;
    background-position:center;
}

.gird1-main-min-t .small2{
    background: url('https://m.media-amazon.com/images/S/mms-media-storage-prod/final/BrandPosts/brandPosts/348ca1ef-5e30-410a-861e-961fc2a6e979/396600aa-6cff-4c84-82cb-a2a020b6c98b/media._SL480_.jpeg');
    background-size: cover;
    background-position:center;
}




.gird2-main-min-t .large{
    background: url('https://globalcomputers.pk/wp-content/uploads/2021/09/michelle-ding-c7yBhz9XTIs-unsplash.jpg');
    background-position: center;
    background-size: cover;
}


.gird2-main-min-t .small{
    background: url('https://i.ytimg.com/vi/YwdvV0EYRpg/maxresdefault.jpg');
    background-position: center;
    background-size: cover;
}

.max{
    display: none;
}
}